<section class="py-4" id="transfer">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-start pb-5 py-lg-4 my-auto offset-lg-1 order-lg-2">
                <h2 class="h6 text-secondary fw-bold">Lorem ipsum dolor sit amet</h2>
                <h1 class="display-3 text-primary fw-bold">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h1>
                <p class="mt-4 mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-lg-5 py-lg-4 my-auto order-lg-1">
                <%- include('partials/transferTab', { tab: contents.tabActive, code: contents.code ?? '' }); %>
            </div>
        </div>
    </div>
</section>
<section class="py-4" id="partner">
    <div class="container py-lg-4">
        <h3 class="h6 text-center fw-bold text-dark">Partnered and Trusted by</h3>
        <ul class="list-unstyled d-flex align-items-center justify-content-center overflow-auto mt-4 gap-4">
            <% for(i = 0; i <= 5; i++) { %>
                <li>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1920px-Google_2015_logo.svg.png" class="h-auto">
                </li>
            <% } %>
        </ul>
    </div>
</section>
<section class="py-4" id="work">
    <div class="container py-lg-4">
        <h3 class="h2 text-center fw-bold text-dark">How it work?</h3>
        <div class="py-5 my-5"></div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">Try it free<i class="bi bi-arrow-right ms-2"></i></button>
        </div>
    </div>
</section>
<section class="py-4" id="faq">
    <div class="container py-lg-4">
        <h3 class="h2 text-center fw-bold text-dark">Frequently Asked Questions</h3>
        <div class="py-5 my-5"></div>
    </div>
</section>